/*NAVEGADOR HAMBURGUESA*/
*{
	font-family: "OPEN SANS";
}
header{
	width: 100%;
	color:white;
	z-index: 100;
	position: fixed;
	}

.navbar-default {
    background-color: rgba(0, 0, 0, 0.02);
    border:none;
    border-radius: 0;
    padding: 1% 3%;
}

.navbar-brand{
	height: inherit;
}
.navbar-brand img {
	width: 80%;
}
.navbar-nav{
	padding-top: 1%;
}
.navbar-default .navbar-nav>li>a {
    text-align: right;
	color: white;
	font-size: 1.3em;
	} 
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:hover{
	color:rgba(89, 136, 195, 0.92);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #5988C3;
	}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(221, 221, 221, 0.23);
	}
.navbar-default .navbar-toggle {
    border:none;
	}
/*--fin--*/
/*BACKGROUND-HEADER*/
.bg-header {
	background: url(../image/large.jpg) no-repeat;
	height: 93vh;
    background-size: cover;
    width: 100%;
}
.transparent {
    background: rgba(0, 0, 0, 0.29);
    z-index: 9999;
    background-size: 100%;
  	height: 100%;
  	width: 100%;
}  
.text-header{
	color:white;
	margin-top: 20%;
	text-align: center;
	padding: 0 18%;
}
.bg-header .container-fluid{
	padding: 0;
}
.text-header {
	font-size: 3.5em;
	font-family: Arial;
	padding-bottom: 7%;
}
/*PIE DE HEADER*/
.text-pie {
	background: rgba(89, 136, 195, 0.92);
    color: white;
    width: 100%;
    height: 29.5%;
    position: relative;
    bottom: 0px;
}
.gratis{
	line-height: 188px;	
}
.text-pie a{
	text-decoration: none;
	color: white;
	border-radius: 1.5px;
	border:1px solid white;
	padding: 1.8%;
	font-size: 1.3em;
}
a:hover{
	background: rgba(255, 255, 255, 0.28);
}

.text-pie h3{
    position: absolute;
    right: 10px;
    top: 36px;
}
.text-pie p{
	    position: absolute;
    right: 10px;
    top: 92px;
    padding: 0;
}
/*SECTION DE SERVICIOS*/
.servicios h2{
	margin: 8% 0;
	padding: 0 3%;
	color:#69ACFF;
	font-family: "OPEN SANS";
}

.servicios{
	text-align: center;
	padding-bottom: 5%;
}

.icon-redes {
	font-size: 2.5em;
    text-align: center;
    color: #69ACFF;
    height: 10%;
    display: inline-block;
    width: 135px;
    line-height: 140px;
    border-radius: 100%;
    box-shadow: inset 1px 1px 1px 
 	rgba(0,0,0,.05), inset 1px 1px 1px 
 	rgba(0,0,0,.1), 1px 1px 1px 
 	rgba(0,0,0,.1);
 	margin-bottom: 5%;
}
.servicios h4{
	color:#90A6BB;
	font-size: 1.8em;
}
/*FLEZA PARA DESLIZAR*/
.deslizar{
	text-align: center;
    position: relative;
    bottom: 73px;
}
/*SECTION DE EJEMPLO*/
.text-ejemplo{
	margin-bottom: 5%;
	padding-top: 10%;
}
.text-ejemplo h2{
	padding-bottom: 3%;
}
.text-ejemplo img[src="image/logo-2.jpg"]{
	width: 30%;
    position: absolute;
    top: 9%;
    left: 29%;
}
.text-ejemplo img[src="image/flecha.png"] {
 	position: relative;
    left: 40%;
    width: 10%;
}
/*PASOS PARA LA INSCRIPCION*/
.pasos{
	margin:0 2%;
}
.bg-fondo{
	background: -webkit-linear-gradient(rgba(60, 60, 60, 0.7),
	rgba(60, 60, 60, 0.7)), 
	url("../image/sec-2.jpg")no-repeat;
    background-position:left;
	background-size: cover;
    height: 80vh;
}
/*ICONS DE PASOS*/

.icon-pasos{
    color: white;
    font-size: 2.5em;
    border-radius: 100%;
    background: #50BDEA;
    height: 55px;
    width: 50px;
    padding: 5%;
}
.icon-pasos i{
	text-align: center;
}
.pencil{
	
}
.text-pasos {
	padding: 0 5%;
}
.text-pasos h3{
	padding-bottom: 3%;
}
.text-pasos h4 {
	color:#69ACFF;
	padding-bottom: 1%;
}
.text-pasos p{
	padding-bottom: 3%;
}
.text-pasos ul{
	padding: 0 4%;
}
.deslizar-flecha{
	text-align: center;
    position: relative;
    bottom: 56px;
}
/*MODO DE USO*/
.como-usar{
	padding-top: 10%;
}
.pasos hr{
	margin: 0 ;
	padding: 0;
}
.text-uso h2{
	color:#69ACFF;
	font-size: 2.5em;
}
img[src="image/logo-2.jpg"]{
	width: 38%;
    position: absolute;
    top: 6%;
    left: 39.5%;
}

img[src="image/banner.jpg"]{
	width: 100%;
}
/*PIE DE PAGINA DE SECTION*/
.final{
	background: rgba(89, 136, 195, 0.92);
    color: white;
    width: 100%;
    height: 150px;
    margin-top: 5%;
}
.prueba{
	text-align: center;
	line-height: 140px;
    padding-top: 2%;
}
.prueba a{
	text-decoration: none;
	color: white;
	border-radius: 1.5px;
	border:1px solid white;
	padding: 1.5% 5%;
	font-size: 1.3em;
}
a:hover{
	background: rgba(255, 255, 255, 0.28);
}

.final h3{
    text-align: center;
    padding-top: 8%;
}
.final p{
	text-align: center;
}
/*FOOTER*/
footer{
	background: #2A3541;
	color:white;
	padding-top: 3%;
	width: 100%;
}
footer a{
	text-decoration: none;
	color:#2D5A94;
}
a:hover{
	color: #2D5A94;
	background-color: transparent;
}
footer i {
	position: relative;
	left: 75%;
	font-size: 2em;
	padding: 3%;
	color: #2D5A94;
}
.parrafo {
	text-align: right;
	padding:5%;
}